/* This stylesheet is meant for custom styles, on top of the Bone Template */
/* This stylesheet is meant for custom styles, on top of the Bone Template */
.top-margin{margin-top:20px;}
.has-toggle-input label, .has-toggle-input.radio label {
    display: block;
    float: left;
    padding: 5px 10px;
    margin: auto auto auto -1px;
    background: #f4f4f4;
    color: #444;
    border: 1px #d0d0d0 solid;
    line-height: normal;
    overflow: hidden;
    cursor: pointer;
}

    .has-toggle-input label.active {
        background: #598d6c;
        border-color: #598d6c;
        color: white;
        font-weight: bolder;
    }

    .has-toggle-input label:first-of-type {
        margin-left: auto;
    }

    /*.has-toggle-input label:last-of-type {
    }*/
